<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nifty UI :: Kitchen Sink</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <h1 class="flex justify-center text-4xl font-semibold leading-relaxed">Nifty UI :: Kitchen Sink</h1>
  <hr />
  <main>
    {{--  Accordion  --}}
    <div class="flex flex-col pl-4 my-2 w-5/12">
      <h2 class='text-2xl font-bold'>Accordion</h2>
      <div class="w-5/6 my-4">
        @ui.accordion()
          @ui.accordion.item({ title: 'Check me out!' })
            I hold a message, good or bad I exist!
          @end

          @ui.accordion.item({ title: 'Keep adding items!' })
            Keep adding items to make this list as long or short as you want!
          @end
        @end
      </div>
    </div>
    {{--  Alerts  --}}
    <div class="flex flex-col">

      <h2 class='text-2xl font-bold'>Alert</h2>

        @ui.alert({ variant: 'success'})
          <h5 class='font-bold underline'>Thou hath reached a bitter Success!</h5>
          <p>Fetch the scribe! Might he record this most joyous of days!</p>
        @end

        @ui.alert({ variant: 'default'})
          <h5 class='font-bold underline'>A Default message for you My Lord!</h5>
          <p>Nifty-UI has made progress on the western banks of the Mississippi!!</p>
        @end

        @ui.alert({ variant: 'info'})
          <h5 class='font-bold underline'>Information suggests the filthy Bard has arrived.</h5>
          <p>This can only mean a Witcher is close by.</p>
        @end

        @ui.alert({ variant: 'warning'})
          <h5 class='font-bold underline'>WARNING! Ye Adventure's:</h5>
          <p>Dragons lair beyond the ridge, use southern passage.</p>
        @end

        @ui.alert({ variant: 'error'})
          <h5 class='font-bold underline'>You made a vital ERROR, way to go.</h5>
          <p>If you can read this, you can't read a compass. Good luck.</p>
        @end
    </div>
    {{-- Badge --}}

    <h2 class='text-2xl font-bold'>Badges</h2>
    <div class="flex space-x-2">
      @ui.badge({ variant: 'default'})
        <p>Default</p>
      @end
      @ui.badge({ variant: 'solid'})
        <p>Solid</p>
      @end

      @ui.badge({ variant: 'outline'})
        <p>outline</p>
      @end
    </div>
    <div class="flex space-x-2 mt-2">
      @ui.badge({ size: 'sm' })
        <p>Small Default</p>
      @end
      @ui.badge({ variant: 'solid', size: 'sm' })
        <p>small solid</p>
      @end
      @ui.badge({ variant:'outline', size: 'sm' })
        <p>small outline</p>
      @end
    </div>
    <div class="flex space-x-2 mt-2">
      @ui.badge({ size: 'lg' })
        <p>Large Default</p>
      @end
      @ui.badge({ variant: 'solid', size: 'lg' })
        <p>Large solid</p>
      @end
      @ui.badge({ variant:'outline', size: 'lg' })
        <p>Large outline</p>
      @end
    </div>
    <div class="flex space-x-2 mt-2">
      @ui.badge({ size: 'xl' })
        <p>Extra-Large Default</p>
      @end
      @ui.badge({ variant: 'solid', size: 'xl' })
        <p>Extra-Large solid</p>
      @end
      @ui.badge({ variant:'outline', size: 'xl' })
        <p>Extra-Large outline</p>
      @end
    </div>
  </main>
</body>
