<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nifty UI :: Kitchen Sink</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <h1 class="flex justify-center text-4xl font-semibold leading-relaxed">Nifty UI :: Kitchen Sink</h1>
  <hr />
  <main class="m-4 ">

    <div class="flex flex-col my-2">
      <div class="space-y-4 w-7/12 border-4 p-5 rounded-xl">
        <div class="flex flex-col items-end">
        @!ui.chat({message: 'It was said that you would, destroy the Sith, not join them.'})
        </div>
        <div>
        @!ui.chat({ position: 'left', message: 'but that is too boring man, I just wanna watch the world burn.'})
        </div>
        <div class="flex flex-col items-end">
        @!ui.chat({message: 'Whatever man, i have the highground. get wrecked.'})
        </div>
      </div>

    </div>
    <div class="flex flex-col w-7/12">
      <h2 class="mx-2">Tell em' what you really think:</h2>
      <div class="flex w-full">
      @!ui.textarea()
      @ui.button({ variant: 'outline'})
        Send
      @end
      </div>
    </div>
  </main>
</body>
