<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nifty UI :: Kitchen Sink</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <h1>Nifty UI :: Kitchen Sink</h1>
    <hr />

    <h2>Example</h2>
    @ui.example({ name: 'John' })
      <p>This is children</p>
    @end
  </main>
</body>
</html>
