@set('className', className || 'text-sky-800')
@set('size', size || 'default')

{{--  Size:  --}}
@if (size === 'sm')
  @set('className', `${className} text-sm`)
@elseif (size === 'default')
  @set('className', `${className} text-md`)
@elseif (size === 'lg')
  @set('className', `${className} text-lg`)
@elseif (size === 'xl')
  @set('className', `${className} text-xl`)
@end

{{--  Variant  --}}

<label class="{{ className }} flex mx-2">
  <span>{{{ await $slots.main() }}}</span>
</label>
