@set('className', className || '')
@set('size', size || 'md')

{{--  base  --}}
@set('base', clsx(['flex mx-2 text-primary-950']))

{{--  sizes  --}}
@set('sizes', {
  'text-sm': size === 'sm',
  'text-md': size === 'md',
  'text-lg': size === 'lg',
  'text-xl': size === 'xl'
})

{{--  Variant  --}}

<label class="{{ clsx(base, sizes ) }}">
  <span>{{{ await $slots.main() }}}</span>
</label>
end
