{{--  Props  --}}

{{--  Variants  --}}

{{--  Component  --}}
<div class="w-full max-w-xs mx-2">
    <textarea type="text" placeholder="Type your message here." class="flex w-full min-h-[60px] px-3 py-2 text-sm bg-primary-950 border rounded-md border-primary-300 placeholder:text-primary-400 focus:border-primary-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-400 disabled:cursor-not-allowed disabled:opacity-50"></textarea>
</div>
