<!DOCTYPE html>
<html lang="en" hx-boost="true" hx-ext="head-support,body-support" x-data="{ darkMode: localStorage.getItem('dark') === 'true' } "
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ $props.title }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="bg-white dark:bg-zinc-950 flex flex-col">
  <header class="border-b dark:border-zinc-900 bg-white/40 dark:bg-zinc-950/40 backdrop-blur-xl sticky top-0 z-10 flex items-center justify-between px-5 py-3">
    <a href="/" title="Nifty UI">
      @!logo({ size: 'md' })
    </a>
    <nav class="flex items-center space-x-5">
      <a href="{{ route('docs.index') }}" class="font-medium text-zinc-900 dark:text-zinc-300 hover:text-primary-600 dark:hover:text-primary-500">Documentation</a>
        <a href="https://github.com" class="text-black dark:text-white">
          @!ui.icon({ name: 'github', set: 'brands', class: 'w-6 h-6' })
        </a>
        <button x-on:click="darkMode = !darkMode" class="text-black dark:text-white" x-cloak>
          <span x-show="!darkMode">
            @!ui.icon({ name: 'bulb', class: 'w-6 h-6' })
          </span>
          <span x-show="darkMode">
            @!ui.icon({ name: 'moon-filled', class: 'w-6 h-6' })
          </span>
        </button>
    </nav>
  </header>
  <main {{ $props.serializeExcept(['title'], { class: clsx('flex-1 flex', $props.class) }) }}>
    {{{ await $slots.main() }}}
  </main>
</body>
</html>
