@layouts.root({ title: 'Nifty UI', class: 'min-h-[calc(100vh-53px)] items-center justify-center' })
  <div class="text-center text-zinc-800 dark:text-zinc-400">
    <h1 class="text-6xl font-bold mb-8">Nifty UI</h1>
    <h2 class="text-xl">UI Library for Nifty applications built on Tailwind CSS, AlpineJS & Edge.js</h2>
  </div>
@end
