@set('title', 'SaaS Starter built on AdonisJS')
@set('className', 'bg-[#F7F8FA] border-t-[6px] border-t-[#5A45FF] font-sans')

@layouts.root({ title, className })
  <main class="max-w-[620px] m-auto h-screen py-[30px] flex justify-center items-center">
    @ui.example()
      <p>Hello world</p>
    @end
  </main>
@end
